@media screen and (max-width: 320px) {
  .portfolio__container {
		padding: 0 14px;
  }
}

.portfolio__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: rgba(139, 139, 139, 1);
	margin: 0;
	padding: 35px 0 30px;
}

@media screen and (max-width: 768px) {
  .portfolio__title {
		padding-top: 25px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__title {
		padding-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__title {
		font-size: 14px;
		padding-bottom: 21px;
  }
}

.portfolio__list {
	flex-direction: column;
	padding-bottom: 125px;
}

@media screen and (max-width: 768px) {
  .portfolio__list {
		padding-bottom: 115px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__list {
		padding-bottom: 40px;
  }
}

.portfolio__item {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.6;
	letter-spacing: -0.04em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.portfolio__item:hover {
	opacity: .7;
	cursor: pointer;
}

.portfolio__item:nth-of-type(3) {
	border-bottom: none;
}

@media screen and (max-width: 768px) {
  .portfolio__item {
		font-size: calc(18px + 10*(100vw - 320px)/(768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .portfolio__item {
		line-height: 28px;
  }
}

.portfolio__link {
	text-decoration: none;
	color: inherit;
	max-height: 50px;
	max-width: 880px;
	padding: 20px 0 19px;
}

@media screen and (max-width: 768px) {
  .portfolio__link {
		padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__link {
		padding-bottom: 19px;
  }
}

.portfolio__cursor {
	background-image: url("../../images/portfolio_cursor.svg");
	background-repeat: no-repeat;
	background-position: center center;
	align-self: center;
	height: 60px;
	width: 29px;
}

@media screen and (max-width: 768px) {
  .portfolio__cursor {
		width: 27px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__cursor {
		width: 12px;
		height: 18px;
		margin-right: 3px;
		background-size: contain;
  }
}